body{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
}

.header-main{
	background-color: #eeeeee;
	width: 100%;
}

.container{
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

.header-top{
	padding-top: 45px;
	display: flex;
	min-height: 65px;
}

.header-logo{
	width: 160px;
	height: 65px;
	margin-right: 16%;
}
.header-logo:hover{
	opacity: 0.8;
}
.header-logo:active{
	opacity: 0.3;
}

.nav-menu{
	width: 36%;
	margin-right: 20%;
	min-height: 65px;
	box-sizing: border-box;
}
.nav-menu ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.nav-menu li{
	padding-bottom: 12px;
	padding-top: 25px; 
	margin-right: 15px;
	box-sizing: border-box;
}

.nav-menu a[href]:hover {
	color: #fb565a;
}

.nav-menu a[href]:active {
	color:black;
	opacity: 0.3;
}

.nav-menu__item{
	position: relative;
}

.header-top a{
	text-decoration: none;
	color:#000;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
}

.page-active::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 13px;
	background-color: #fb565a;
}

.header-basket{
  position: absolute;
  right: 0%;
}

.basket-link{
	padding-left: 35px;
}

.header-basket::after{
	content: "";
	position: absolute;
	background: url("images/small/icon-basket.png") no-repeat;
	width: 15px;
	height: 15px;
	bottom: 19px;
	left: 0px;
}

.page-active .header-basket::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 13px;
	background-color: #fb565a;
}

.slider{
	position: relative;
	min-height: 430px;
	background-color: #eeeeee;
	overflow: hidden;
}
	
.slide-controls{
	position: absolute;
	bottom: 90px;
	left:50%;
	height: 10px;
	width: 12.5%;
	margin-left: -6.25%;
	text-align: center;
	z-index: 999;
}
.slide-controls label{
	display: inline-block;
	width: 5px;
	height: 5px;
	margin: 0 3px;
	background: white;
	border: 5px solid white;
	border-radius: 50%;
	vertical-align: top;
	cursor: pointer;
}
.slide-controls .active{
	background: #c1c1c1;
}

.slider-content{
	width: 58%;
	padding-left: 1%;
}

.slide{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: ease-in 1.5s;
	opacity: 0;
	visibility: hidden;
	}


#btnn1:checked ~ .slide-controls label[for="btnn1"],
#btnn2:checked ~ .slide-controls label[for="btnn2"],
#btnn3:checked ~ .slide-controls label[for="btnn3"]{
	background: #c1c1c1;
}

#btnn1:checked ~ .slides .slide:nth-child(1){
	visibility:visible;
	opacity: 1;
}

#btnn2:checked ~ .slides .slide:nth-child(2){
	visibility:visible;
	opacity: 1;
}

#btnn3:checked ~ .slides .slide:nth-child(3){
	visibility: visible;
	opacity: 1;
}

.slide:nth-child(1){
	background: url(slide1.png) no-repeat;
	background-position: 100% 10px;
}

.slide:nth-child(2){
	background: url(slide2.png) no-repeat;
	background-position: 100% 10px;
}

.slide:nth-child(3){
	background: url(slide3.png) no-repeat;
	background-position: 100% 0px;
}

.slider-title{
	margin: 0;
	padding: 0;
	padding-top: 85px;
	color:#000;
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
}

.slider-text{
	color: #283136;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	padding-top: 15px;
	padding-bottom: 45px;
	margin: 0;
}

.slider-btn{
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	padding: 20px 55px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
}

.btn-style,
.slider-btn:hover{
	background-color: #e74246;
	border: 3px solid #e74246;
}

.btn-style,
.slider-btn:active{
	text.opacity: 0.3;
	color: rgba(255,255,255,0.3);
}

.slider-img{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.main-options{
	background-color: #fff;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}
.option-item{
	padding-top: 80px;
	padding-bottom: 100px;
	width: 300px;
	padding-right: 4.5%;
}

.option-img{
	width: 100%;
	height: 146px;
}

.option-title{
	display: block;
	padding-top: 25px;	
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000;
}

.option-text{
	font-weight: 400px;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	margin-bottom: 45px;

}
.option-btn{
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	padding: 15px 40px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
}

.btn-red{
	background-color: #fb565a ;
	border: 3px solid #fb565a;
}
.btn-red:hover{
	background-color: #e74246;
	border-top: 3px solid #e74246;
	border: 3px solid #e74246;
}

.btn-red:active{
	background-color: #d7373b ;
	color: rgba(255,255,255,0.3);
	border: 3px solid #d7373b;
	border-top: 3px solid #c13135;
}
.btn-green{
	background-color: #00ca74;
	border: 3px solid #00ca74;
}
.btn-green:hover{
	background-color: #00bc6c;
	border-top: 3px solid #00bc6c;
	border: 3px solid #00bc6c;
}
.btn-green:active{
	background-color: #00aa62;
	border: 3px solid #00aa62;
	border-top: 3px solid #009958;
}

.btn-yellow{
	background-color: #efc84a;
	border: 3px solid #efc84a;
}
.btn-yellow:hover{
	background-color: #eab534;
  border: 3px solid #eab534;
}
.btn-yellow:active {
	background-color: #e5a722;
	color: rgba(255,255,255,0.3);
	border: 3px solid #e5a722;
	border-top: 3px solid #ce961f;
}

.logo-item{
	opacity: 0.2;
	padding-bottom: 20px;
}
.logo-item:hover{
	opacity: 1;
}
.logo-item:active{
	opacity: 0.1;
}

.description-main{
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
	padding-top: 40px;
	padding-bottom: 75px;
	display: flex;
	box-sizing: border-box;
}

.description-info{
	max-width: 760px;
}

.description-info h2{
	margin:0;
	padding-top: 40px;
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.description-info p{
	padding: 40px 0;
	margin: 0;
}

.description-info b{
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 13px;
}

.description-info ul{
  list-style-image: url(images/minus.png);
  margin: 0;
}

.description-info li{
	padding: 12px 0;
}

.description-logo b{
	display: block;
	margin: 40px 0;
	padding-left: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.descr-percentage{
	display: flex;
}

.descr-percentage span{
	display: block;
	font-weight: 700;
	font-size: 45px;
	padding-bottom: 10px;
}

.pecentage-item{
	max-width: 140px;
}

.logo-section{
	padding: 45px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 2px solid #eeeeee;
}

.footer-map{
	padding: 80px 0;
	width: 100%;
	margin: 0;
}
.absolute-contacts{
	position: absolute;
	bottom: 270px;
	width: 320px;
	background: white;
	text-align: center;
	margin: auto;
}

.abs-contacts-wrapper{
	margin: 0 auto;
	width: 320px;
	padding-top: 55px;
	padding-bottom: 45px;
	box-sizing: border-box;
	overflow: hidden;
}
.abspolute-contacts p{
	display: block;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	box-sizing: border-box;
}

.absolute-phone{
	padding-bottom: 40px;
}
.abspolute-contacts b{
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
}


.btn-social{
	display: inline-block;
	vertical-align: top;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	font-size: 0;
	background: #e1e1e1;
	margin-right: 12px;
	position: relative;
}

.btn-social:hover{
	background: #e74246;
}

.btn-social:active{
	background: #d7373b;
}

.btn-vk::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url("images/logo/vk-icon.png") no-repeat;
	width: 26px;
	height: 15px;
}

.btn-vk:active:before{
	opacity: 0.3;
}

.btn-fb::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url("images/logo/fb-icon.png") no-repeat;
	width: 12px;
	height: 22px;
}

.btn-fb:active:before{
opacity: 0.3;
}

.btn-insta::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url("images/logo/insta-icon.png") no-repeat;
	width: 21px;
	height: 21px;
}
.btn-insta:active:before{
opacity: 0.3;
}

.social-icons{
	min-width: 33%x;
}

.footer-bottom{
	position: relative;
	min-height: 150px;
	display: flex;
}
.footer-descr{
	display: block;
	margin: 0 auto;
}

.footer-title{
	display: block;
	text-align: center;
	font-weight: 700;
	line-height: 36px;
	font-size: 36px;
}

.catalog-title{
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	text-align: center;
	width: 100%;
	padding-bottom: 115px;
	padding-top: 80px;
	margin-top: 0;
	margin-bottom: 60px;
}

.catalog-sort{
	display: flex;
	margin-bottom: 60px;
}

.catalog-filter{
	min-width: 25%;
	margin-right: 8%;
}

.sort-options{
	display: flex;
	margin-left: auto;
}

.catalog-flex{
	display: flex;
}

.sort-text{
	font-size: 18px;
	font-weight: 700px;
	margin-right: 18.3px;
	text-transform: uppercase;
}

.sort-link{
	color: black;
	font-size: 18px;
	margin-right: 20px;
	font-weight: 500;
	opacity: 0.3;
	text-decoration: none;
	text-transform: uppercase;
}

.sort-link:hover{
	opacity: 0.6;
}

.sort-link--active,
.sort-link:active{
	opacity: 1;
}

.sort-arrow__down {
	display: inline-block;
	overflow:hidden;
	font-size: 0;
	width: 0;
  height: 0;
  border-top: 15px solid #000000;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  opacity: 0.2 ;
  margin-right: 8px;
}

.sort-arrow__up{
	display: inline-block;
	overflow:hidden;
	font-size: 0;
	width: 0;
  height: 0;
  border-bottom: 15px solid #000000;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  opacity: 0.2 ;
}

.sort-arrow--active{
  opacity: 1;
}

.sort-arrow__down:hover,
.sort-arrow__up:hover{
opacity: 0.3 ;
}

.sort-arrow__down:active,
.sort-arrow__up:active{
	opacity: 1;
}

.catalog-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 20px;
	min-width: 63%;
	box-sizing: border-box;
}

.cat-item{
	position: relative;
	display: block;
	margin-bottom: 40px;
	padding-top: 40px;
	width: 360px;
	cursor: pointer;
	z-index: 1;
	box-sizing: border-box;
}

.cat-item::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 360px;
	height: 40px;
	background: url("images/border.png") no-repeat;
	opacity: 0.12;
}

.cat-item:hover:before{
	opacity: 1;
}

.cat-item-info{
	position: absolute;
	padding-top: 29px;
	padding-bottom: 13px;
	width: 100%;
	height: 231px;
	margin-top: -231px;
	background-color: #eeeeee;
	overflow: hidden;
	box-sizing: border-box;
	z-index: -1;
}

.cat-item:hover .cat-item-info{
z-index: 10;
}

.cat-item-title{
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 23px;
	box-sizing: border-box;
}

.cat-item-description{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	line-height: 18px;
	font-weight: 300;
	margin-bottom: 31px;
	box-sizing: border-box;
}

.buy-link-cont{
	width: 100%;
	text-align: center;
	padding-bottom: 43px;
	box-sizing: border-box;
	}

.cat-buy-btn{
	display: inline-block;
	text-align: center;
	padding-right: 57px;
	padding-left: 57px;
	padding-bottom: 15px;
	padding-top: 15px;
	font-size: 16px;
	line-height: 18px;
	color: white;
	text-decoration: none;
	background-color: #fb565a;
	border-radius: 3px;
	text-transform: uppercase;
	border: 3px solid #fb565a;
	cursor: pointer;
	}

.cat-buy-btn:hover{
	background-color: #e74246;
	border: 3px solid #e74246;
}
.cat-buy-btn:active{
	background-color: #d7373b;
	border: 3px solid #d7373b;
	border-top: 3px solid #c13135;
}

.lnk-page{
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	border-radius: 4px;
	display: inline-block;
	text-decoration: none;
	color: black;
	background-color: #eeeeee;
	padding: 11px 15px;
	border: 3px solid #eeeeee;
	margin-right: 5px;
}
.lnk-page:hover{
	background-color: #dfdfdf;
}
.lnk-page:active{
	background-color: #d5d5d5;
	border: 3px solid #d5d5d5;
	border-top: 3px solid #bfbfbf;
	box-sizing: border-box;
}

.curent-page{
	background-color: white;
}
.next-page{
	text-transform: uppercase;
	padding: 11px 78px;
}

.range-filter-text {
	display: block;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	padding-bottom: 55px;
}

.range-filter{
	width: 240px;
	margin-bottom: 63px;
}

.range-controls{
	position: relative;
	height: 80px;
	padding: 0 30px;
	margin-bottom: 15px;
	border-radius: 5px;
	background: #f1f1f1;
	overflow: hidden;
}
.range-controls .range-scale{
	margin-top: 39px;
	height: 2px;
	background: #d7dcde;
}
.range-controls .bar{
	height: 2px;
	background: #00ca74;
}
.range-controls .toggle{
	position: absolute;
	top: 30px;
	left: 30px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid white;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .max-toggle{
	left:145px;
}

.price-controls input{
	width: 60px;
	padding: 8px 10px;
	margin-left: 10px;
	border: none;
	background: #f1f1f1;
	font-size: 15px;
	font-style: normal;
	text-align: center;
	color: #283136;
	border-radius: 5px;
}

input[type="checkbox"], input[type="radio"]{
	display: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label{
	display: block;
	margin: 10px 0;
	padding-left: 40px;
	position: relative;
	cursor: pointer;
	opacity: 0.4;
}

input[type="checkbox"] + label::before{
	content: "";
	display: block;
	background: url("images/small/checkbox-off.png") no-repeat;
	position: absolute;
	width: 23px;
	height: 23px;
	top: 2px;
	left: 0;
}

input[type="checkbox"]:checked + label::before{
	content: "";
	background: url("images/small/checkbox-on.png") no-repeat;
	width: 27px;
	height: 23px;
	top: 2px;
	left: 0;
	position: absolute;
}

input[type="checkbox"]:hover + label,
input[type="radio"]:hover + label{
	opacity: 1;
}

input[type="checkbox"] + label[disabled="disabled"],
input[type="radio"] + label[disabled="disabled"]{
	opacity: 0.1;
}

input[type="radio"] + label::before{
	content: "";
	display: block;
	background: url("images/small/radio-off.png") no-repeat;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 1px;
	left: 0;
}

input[type="radio"]:checked + label::before{
	display: block;
	content: "";
	background: url("images/small/radio-on.png") no-repeat;
	width: 25px;
	height: 25px;
	top: 1px;
	left: 0;
	position: absolute;
}

.form-feature{
	margin-bottom: 45px;
}

.filter-btext{
	display: block;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	margin-top: 45px;
	margin-bottom: 20px;
}
.message-us{
	display: block;
	width: 960px;
	height: 590px;
	background: white;
	padding: 0 100px;
}
.message-flex{
	display: flex;
	flex-wrap: wrap;
}
.message-us-text{
	display: block;
	padding-top: 73px;
	padding-bottom: 50px;
	font-size: 48px;
	line-height: 48px;
	font-weight: 400;
}
.message-us{
	display: none;
	width: 960px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	z-index: 1000;
	box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
	box-sizing: border-box;
}


.message-us b{
	display: block;
}

.message-name{
	display: block;
	margin-right: 40px;
	box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[class="line"]{
	padding: 5px 14px;
	width: 328px;
	height: 26px;
	border: 2px solid #d7dcde;
	border-radius: 3px;
}

.message-text{
	margin-top: 35px;
	margin-bottom: 47px;
}

.message-textarea{
	width: 95%;
	height: 100px;
	padding: 14px 14px;
	resize: none;
	border: 2px solid #d7dcde;
}

input[class="line"]::placeholder,
.message-textarea::placeholder{
	font-size: 16px;
	line-height: 18px;
	color: #000;
	font-weight: 400;
	opacity: 0.5;
}

input[class="line"]:focus::placeholder,
.message-textarea:focus::placeholder{
	opacity: 1;
}

input[class="line"]:invalid{
	color: red;
	border-color: red;
}

input[class="line"]:focus,
.message-textarea:focus{
	border-color: #000000;
}

input[class="line"]:hover,
.message-textarea:hover{
	border-color: #b4b9bb;
}

.btn-close{
	position: absolute;
	content: "";
	font-size: 0;
	border: 0;
	top:50px;
	right: 50px;
	width: 21px;
	height: 21px;
	background: url(images/small/close-cross.png) no-repeat;
	opacity: 0.3;
}

.btn-close:hover{
	opacity: 1;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav__toggle{
	display: none;
}

.btn-send{
	padding: 15px 80px;
	margin-bottom: 20px;
}


@media (min-width: 768px) and (max-width: 1097px) {
.cat-item-info
{
	z-index: 10;
}

.option-item{
	width: 45%;
}
.option-item:nth-child(3){
	width: 80%;
	padding-top: 0px;
}
.third{
	min-height: 250px;
}
.logo-item{
	width: 35%;
}
.slider-content{
	width: 87%;
}
.slide:nth-child(1){
	background: url(images/tablet/slide1.png) no-repeat;
	background-position: 100% 10px;
}

.slide:nth-child(2){
	background: url(images/tablet/slide2.png) no-repeat;
	background-position: 100% 10px;
}

.slide:nth-child(3){
	background: url(images/tablet/slide3.png) no-repeat;
	background-position: 100% 0px;
}

.slider-text{
	font-weight: bold;
	opacity: 0.9
}

.header-logo{
	margin-right: 8%;
}

.header-basket{
  position: absolute;
  right: 0;
}

.social-icons{
	width: 50%;
}
.message-us{
	padding-left: 20px;
	width: 90%;
	margin: 0px;
	padding-right: 10px;
}

input[class="line"]{
	width: 328px;
}

.message-name{
	margin-bottom: 10px;
}

.cat-item{
	margin: 0 auto;
	margin-bottom: 50px;
	box-sizing: border-box;
	width: 320px;
}

.cat-item::before,
.cat-item img{
	width: 320px;
}

.message-us-text{
	padding: 40px 40px 40px 0px;
}

}

/*Good for 310+*/
@media (min-width: 200px) and (max-width: 767px){
.footer-map,
.basket-wrapper,
.page-active::before,
.header-basket::after,
.nav-menu--closed .nav-menu__item,
.catalog-filter
{
	display: none;
}

.nav-menu--closed .page-active,
.nav-menu--opened .nav-menu__item,
.menu-nojs .nav-menu__item
{
	display: block;
}

.container{
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;
	box-sizing: border-box;
}

.header-logo{
	display: block;
	width: 160px;
	height: 65px;
	padding: 0;
	margin: 0 auto;
}

.header-top{
	display: flex;
	flex-direction: column;
}

.header-basket{
	position: static;
}

.basket-link{
	padding-left: 0;
}

.nav-menu{
	position: relative;
	margin: 0;
	width: 100%;
}

.nav-menu ul{
	flex-direction: column;
}

.nav-menu li{
	text-align: center;
	margin: 0;
	border-bottom: 1px solid gray;
}
 .main-nav__toggle {
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #eee;
  cursor: pointer;
  border: none;
}
.nav-menu--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #000;
  box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
}

.nav-menu--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 20px;
 	content: "\274c";
  font-size: 30px; 
  color: #000;
  line-height: 50px;
  text-align: center;
}

.main-nav__toggle:focus{
	outline: none;
}

.description-info{
	position: relative;
}

.description-logo{
	display: block;
	margin: 0 auto;
}

.absolute-contacts{
	position: static;
	display: block;
	width: 100%;
	background: white;
}

.abs-contacts-wrapper{
	margin: 0 auto;
	width: 250px;
}

.social-icons{
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

.description-main{
	flex-wrap: wrap;
}
.footer-bottom{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.btn-social{
	margin-right: 5px;
}

.option-item{
	width: 300px;
	text-align: center;
	margin: 35px 0;
	padding-bottom: 20px;
	padding-right: 0;
	padding-top: 0;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

.slider-text{
	font-weight: bold;
	opacity: 0.9
}

.logo-item{
	display: block;
	width: 209px;
	height: 90px;
	margin: 0 auto;
}	
.slider-content{
	width: 87%;
}

.slide:nth-child(1){
	background: url(images/tablet/slide1.png) no-repeat;
	background-position: 100% 10px;
}

.slide:nth-child(2){
	background: url(images/tablet/slide2.png) no-repeat;
	background-position: 100% 10px;
}

.slide:nth-child(3){
	background: url(images/tablet/slide3.png) no-repeat;
	background-position: 100% 0px;
}

.descr-image{
	display: block;
	width: 280px;
	height: 168px;
	margin: 0px auto;
	margin-bottom: 20px;
}

.descr-percentage{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	justify-content: center;
}

.description-logo b{
	display: block;
	width: 100%;
	word-wrap:break-word;
	box-sizing: border-box;
	margin: 0 auto;
	margin-bottom: 20px;
}

.slider-content{
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

.slider-title{
	font-size: 24px;
	line-height: 28px;
}

.footer-main{
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.message-us{
	width: 90%;
	padding: 0 10px;
}

.message-us-text{
	padding: 30px 20px 20px 0px;
}
.message-flex{
	display: flex;
	flex-direction: column;
}

.message-name{
	width: 100%;
	margin-right: 0;
	margin-bottom: 10px;
}

input[class="line"]{
	display: block;
	width: 90%;
}

.message-textarea{
	display: block;
	width: 90%;
}

.btn-close{
	top: 15px;
	right: 15px;
	opacity: 1;
}


.header-basket::after{
	left: 35%;
}

.cat-item-info
{
	z-index: 10;
}

.catalog-flex{
	display: flex;
	flex-direction: column;
}

.catalog-sort{
	flex-wrap: wrap;
}

.cat-item{
	margin: 0 auto;
	margin-bottom: 50px;
	box-sizing: border-box;
	width: 280px;
}

.cat-item::before,
.cat-item img{
	width: 280px;
}

.catalog-next{
	text-align: center;
}
.next-page{
	margin-top: 20px;
}

.catalog-title{
	padding-top: 0;
	padding-bottom: 50px;
}

}
